mixin demo(name)
  - var path = namespace ? namespace : ''
  - var html = readDemo(`${path}/${name}`)
  if html
    //- .flex
    //-   button.btn.black Demo
    //-   button.btn.default Code
    .switcher
      != html
      .t-sm.mb-sm.t-gray Code:
      pre.mt-sm.muted: code.p.html= html

mixin section(id, title)
  h3.t-primary(id=id)= title
  block
  +demo(id)
