//- .primary
//-   ul
//-     li: a(href=".") Inicio
//-     li: a(href="docs") Documentación
.primary
  .container.navbar
    a.item.t-xl(href=".") Sux
    ul.menu
      li: a(href=".") Inicio
      li: a(href="docs") Documentation
      li: a(href="") About
