extends ../layout.pug

block content
    .p.container
      h1= name
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
      
      .flex.flex-wrap.child-w-1-3
        .p-sm.success-light
          h6 .success-light
        .p-sm.success
          h6 .success
        .p-sm.success-dark
          h6 .success-dark
        .p-sm.warning-light
          h6 .warning-light
        .p-sm.warning
          h6 .warning
        .p-sm.warning-dark
          h6 .warning-dark
        .p-sm.info-light
          h6 .info-light
        .p-sm.info
          h6 .info
        .p-sm.info-dark
          h6 .info-dark
        .p-sm.danger-light
          h6 .danger-light
        .p-sm.danger
          h6 .danger
        .p-sm.danger-dark
          h6 .danger-dark
