* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.2;
  margin: 0; }

button {
  background-color: #fff;
  border: 0; }

.border-rounded {
  border-radius: 3px; }

.border-circle {
  border-radius: 50%; }

.txt-center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

body {
  font-size: 16px; }

h6, .h6 {
  font-size: 20px; }

h5, .h5 {
  font-size: 24px; }

h4, .h4 {
  font-size: 28px; }

h3, .h3 {
  font-size: 32px; }

h2, .h2 {
  font-size: 36px; }

h1, .h1 {
  font-size: 40px; }

.mt-sm {
  margin-top: 8px; }

.mr-sm {
  margin-right: 8px; }

.mb-sm {
  margin-bottom: 8px; }

.ml-sm {
  margin-left: 8px; }

.m-sm {
  margin: 8px; }

.mt-md {
  margin-top: 16px; }

.mr-md {
  margin-right: 16px; }

.mb-md {
  margin-bottom: 16px; }

.ml-md {
  margin-left: 16px; }

.m-md, .m {
  margin: 16px; }

.mt-lg {
  margin-top: 32px; }

.mr-lg {
  margin-right: 32px; }

.mb-lg {
  margin-bottom: 32px; }

.ml-lg {
  margin-left: 32px; }

.m-lg {
  margin: 32px; }

.mt-xl {
  margin-top: 56px; }

.mr-xl {
  margin-right: 56px; }

.mb-xl {
  margin-bottom: 56px; }

.ml-xl {
  margin-left: 56px; }

.m-xl {
  margin: 56px; }

.mt-xxl {
  margin-top: 80px; }

.mr-xxl {
  margin-right: 80px; }

.mb-xxl {
  margin-bottom: 80px; }

.ml-xxl {
  margin-left: 80px; }

.m-xxl {
  margin: 80px; }

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 16px;
  margin-top: 16px; }

.bg-primary, .primary {
  background-color: #009688; }

.txt-primary {
  color: #009688; }

.border-primary {
  border: 1px solid #009688; }

.bg-info, .info {
  background-color: #03a9f4; }

.txt-info {
  color: #03a9f4; }

.border-info {
  border: 1px solid #03a9f4; }

.bg-success, .success {
  background-color: #28a745; }

.txt-success {
  color: #28a745; }

.border-success {
  border: 1px solid #28a745; }

.bg-warning, .warning {
  background-color: #ffc107; }

.txt-warning {
  color: #ffc107; }

.border-warning {
  border: 1px solid #ffc107; }

.bg-danger, .danger {
  background-color: #dc3545; }

.txt-danger {
  color: #dc3545; }

.border-danger {
  border: 1px solid #dc3545; }

.bg-white, .white {
  background-color: #fff; }

.txt-white, .primary, .info, .success, .warning, .danger, .gray, .black {
  color: #fff; }

.border-white {
  border: 1px solid #fff; }

.bg-muted, .muted {
  background-color: #eee; }

.txt-muted {
  color: #eee; }

.border-muted {
  border: 1px solid #eee; }

.bg-gray, .gray {
  background-color: #868e96; }

.txt-gray {
  color: #868e96; }

.border-gray {
  border: 1px solid #868e96; }

.bg-black, .black {
  background-color: #343a40; }

.txt-black, .white, .muted {
  color: #343a40; }

.border-black {
  border: 1px solid #343a40; }
