html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  -webkit-tap-highlight-color: transparent; }
  *, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px; }

hr {
  border: 0;
  border-bottom: 1px solid #343a40; }

a {
  color: inherit; }

button {
  background-color: #fff;
  border: 0; }

.flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.flex-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.flex-first {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.border-rounded {
  border-radius: 3px; }

.border-circle {
  border-radius: 50%; }

.txt-center {
  text-align: center; }

.flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.flex-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.txt-sm {
  font-size: 14px; }

body, .txt-md {
  font-size: 16px; }

.txt-lg {
  font-size: 20px; }

.txt-xl {
  font-size: 24px; }

h1, .h1 {
  font-size: 38px; }

h2, .h2 {
  font-size: 32px; }

h3, .h3 {
  font-size: 27px; }

h4, .h4 {
  font-size: 23px; }

h5, .h5 {
  font-size: 20px; }

h6, .h6 {
  font-size: 18px; }

.mt-sm {
  margin-top: 8px; }

.mr-sm {
  margin-right: 8px; }

.mb-sm {
  margin-bottom: 8px; }

.ml-sm {
  margin-left: 8px; }

.m-sm {
  margin: 8px; }

.mt-md {
  margin-top: 16px; }

.mr-md {
  margin-right: 16px; }

.mb-md {
  margin-bottom: 16px; }

.ml-md {
  margin-left: 16px; }

.m-md, .m {
  margin: 16px; }

.mt-lg {
  margin-top: 32px; }

.mr-lg {
  margin-right: 32px; }

.mb-lg {
  margin-bottom: 32px; }

.ml-lg {
  margin-left: 32px; }

.m-lg {
  margin: 32px; }

.mt-xl {
  margin-top: 56px; }

.mr-xl {
  margin-right: 56px; }

.mb-xl {
  margin-bottom: 56px; }

.ml-xl {
  margin-left: 56px; }

.m-xl {
  margin: 56px; }

.mt-xxl {
  margin-top: 80px; }

.mr-xxl {
  margin-right: 80px; }

.mb-xxl {
  margin-bottom: 80px; }

.ml-xxl {
  margin-left: 80px; }

.m-xxl {
  margin: 80px; }

hr, p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: 16px;
  margin-top: 16px; }

.bg-primary, .primary {
  background-color: #009688; }

.txt-primary {
  color: #009688; }

.border-primary {
  border: 1px solid #009688; }

.bg-info, .info {
  background-color: #03a9f4; }

.txt-info {
  color: #03a9f4; }

.border-info {
  border: 1px solid #03a9f4; }

.bg-success, .success {
  background-color: #28a745; }

.txt-success {
  color: #28a745; }

.border-success {
  border: 1px solid #28a745; }

.bg-warning, .warning {
  background-color: #ffc107; }

.txt-warning {
  color: #ffc107; }

.border-warning {
  border: 1px solid #ffc107; }

.bg-danger, .danger {
  background-color: #dc3545; }

.txt-danger {
  color: #dc3545; }

.border-danger {
  border: 1px solid #dc3545; }

.bg-white, .white {
  background-color: #fff; }

.txt-white, .primary, .info, .success, .warning, .danger, .gray, .black {
  color: #fff; }

.border-white {
  border: 1px solid #fff; }

.bg-muted, .muted {
  background-color: #eee; }

.txt-muted {
  color: #eee; }

.border-muted {
  border: 1px solid #eee; }

.bg-gray, .gray {
  background-color: #868e96; }

.txt-gray {
  color: #868e96; }

.border-gray {
  border: 1px solid #868e96; }

.bg-black, .black {
  background-color: #343a40; }

body, .txt-black, .white, .muted {
  color: #343a40; }

.border-black {
  border: 1px solid #343a40; }
