extends layout

block config
  - var title = 'Button'

block main
  - var namespace = 'button'
  +section('types', 'Types')
  +section('colors', 'Colors')
  +section('sizes', 'Sizes')
  +section('disabled', 'Disabled')
  
