extends ../../layout

block content
  .flex.flex-wrap
    div.p
      ul.w-sm
        li: a(href="buttons.html") Buttons
        li: a(href="text.html") Text
    div.p.flex-1
      div.w-1
        h1= title
        block main
