extends ../../layout

block content
  .flex
    div.mr-xxl
      ul.sidebar
        li: a(href="buttons.html") Buttons
        li: a(href="text.html") Text
    div    
      .container
        h1= title
        block main
