extends ../../layout

block content
  .container.flex.flex-wrap
    .p.w-sm
      ul.menu
        li: a(href="docs/buttons.html") Buttons
        li: a(href="docs/text.html") Text
    .flex-1.w-1
      .p.w-1
        h1= title
        block main
