extends ../../layout

block content
  .container.flex.flex-wrap
    .p.w-md
      ul.menu.muted
        li: a(href="docs/buttons.html") Buttons
        li: a(href="docs/text.html") Text
    .flex-1.p.w-1
      h1.t-primary= title
      block main
