extends layout

block config
  - var title = 'Text'

block main
  - var namespace = 'text'

  +section('paragraph', 'Paragraph')
  
  +section('headings', 'Headings')
    
  +section('text-sizes', 'Text sizes')
  
  +section('weight', 'Font weights')
