extends layout

block config
  - var title = 'Text'

block main
  
  +section('text', 'Paragraph')
    p Utilizado para bloques de texto.
  
  +section('headings', 'Headings')
    p Cabeceras
    
  +section('text-sizes', 'Text sizes')
